doctype html
- var author = "jsera"; // Added login
title LoadxWar
head
  link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  link(rel='stylesheet' href='./style.css')
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#') LoadxWar
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/') About Me
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Projects
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='./botstarters') Discord bot starters
          a.dropdown-item(href='#/comingsoon') Place Holder 2
      li.nav-item
        a.nav-link(href='./login') Login  
      li.nav-item.dropdown   
    p.identifier 
      | LoadxWar#8332
link.favicon(rel='shortcut icon' type='icon/png' href='https://cdn.discordapp.com/avatars/742426370541617224/39e4eeeeb15b2dc2c870015044b121b1.webp?size=4096')
style.
  body {
  background-image: url("https://i.imgur.com/iA8dYpm.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
footer.footer
  .container.text-center
    span.text-white Made by LoadxWar and Knowble
script(src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3')
script.
  const button = new Crate({
  server: '757589121236729896', // server id
  channel: '759157569787789322' // Server channel
  })
  button.color('black')
  button.notify('Our Server updates discord.gg/qJUMUjHJGh') // This is not working rn fixing soon