.bg-dark {
  background-color: black!important;
}

.identifier {
  color: white;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  background-color: black;
} 